
:host {
    display: block;
    margin: 0;
}

body {
    margin: 0;
}

$site_header-height: 60px;

.site {
    display: block;
}

.site__header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $site_header-height;
    background: red;
    z-index: 1;
}

.site__content {
    padding-top: $site_header-height;
}

.site__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background: lightgrey;
    color: white;
    transform: translate(-100%, 0);
    & > * {
        //flex: 1 1 100%;
        display: block;
        padding: 20px;
        border-bottom: 1px solid grey;
    }
    a {
        color: black;
    }
}

.site_show-nav {
    .site__header,
    .site__content {
        transform: translate(300px, 0);
    }
    .site__nav {
        transform: translate(0, 0);
    }
}