<!--
<ul>
  <li *ngFor="let item of items | async">
      <pre>{{ item | json }}</pre>
  </li>
</ul>
-->



<div class="site" [ngClass]="{'site_show-nav': bShowNav}">
  <div class="site__header">
    <button (click)="toggleMenu()">Menu</button>
  </div>
  <nav class="site__nav"></nav>
  <div class="site__content">


    
    <tr *ngFor="let task of tasks | async; let i = index" [attr.data-index]="i">
      <td>{{i + 1}}</td>
      <td>:</td>
      <td>{{task.description}}</td>
      <td>
        <button class="btn btn-success" (click)="edit(task)">
          <i class="fa fa-edit"></i>e
        </button>
        <button class="btn btn-danger" (click)="deleteTask(task)">
          <i class="fa fa-remove"></i>x
        </button>
      </td>
    </tr>



    <form #f="ngForm">
      <div class="form-group">
        <input [(ngModel)]="myTask" name="myTask" type="text" class="form-control" placeholder="Enter Task" required>
      </div>
      <p *ngIf="loading">
        <i class="fa fa-spinner fa-spin"></i>
      </p>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!f.valid" (click)="saveTask()">
          Save Task
        </button>
      </div>
    </form>


    <router-outlet></router-outlet>



  </div>
</div>